
*,
*::before,
*::after
{ 
  box-sizing: border-box;
  }
  h1,h2,h3,h4,h5,h6,p,ol,ul,li{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

  ol,ul{
    list-style: none;
  }
  
  img{
    display: block;
  }
  section{
    padding: 120px 0;
  }

body{
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    }

  .container {
    width: 1158px;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    
  }

  header{
    height: 72px;
    border-bottom:1px solid #e7e9fc;
    gap: 30px;
  }
  .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1158px;


  }
.container .page-menu-list{
  display: flex;
  gap: 40px;
}

.container .address{
  display: flex;
  gap: 30px;
}


  .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3125em;
    letter-spacing: 3%;
    color: #2e2f42;
    text-decoration: none;
    margin-right: 76px;
  }
  .title-web{
    color: #4d5ae5;
  }
  .title-studio{
    color: #2e2f42;
  }
  .nav{
    display:flex;
    align-items: center; 
      }

  .nav:hover,
  .nav:focus{
    color: #404bbf;
  }
  .page-menu-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    
  }
 
  .nav-link{
    padding: 24px 0;
  } 

  .page-menu-list a{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    text-decoration: none;
  }
  
  .page-menu-list li{
    list-style: none;
  }
  .page-menu-list a:hover,
  .page-menu-list a:focus{
    color: #404bbf;
  }
  
  address{
    display: flex;
    gap:40px;
  }
  .contact-us a{
    color: #2e2f42;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    text-decoration: none;
  }
  .contact-us li {
    list-style-type: none;
  }
  .contact-us a:hover,
  .contact-us a:focus{
    color: #404bbf;
  }
  
  .effective {
    background-color: #2e2f42;
    text-align: center;
    color: #ffffff;
    height: 600px;
    margin: 0 auto;
    padding: 188px 0;
  }
  
  .effective h1 {
    font-weight:700px;
    font-size:56px;
    line-height:1em;
    letter-spacing: 2%;
    padding-bottom: 48px;
    margin:0 auto;
    max-width: 496px;
    color: #FFFFFF;
  }
  
  .button-sec {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    min-width:169px ;
    height:56px ;
    border: none;
    border-radius: 4px;  
    display: block;
    margin: 0 auto;
  }
  .button-sec:hover,
  .button-sec:focus{
    background-color:#404BBF;
  }
 

  .features-of-website{
    display: flex;
    flex-direction:row;
    gap: 10px;
  }
  
  .features-of-website h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #2e2f42;
  }
  .features-of-website li {
    list-style: none;
  }
  .features-of-website p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
  }
  
  .our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5em;
    letter-spacing: 2%;
    color: #2e2f42;
    background-color: #f4f4fd;
  }
  
  .our-team-cardset{
    display: flex;
    flex-direction:row;
    gap: 8px;
  }

  .our-team h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .our-team li {
    list-style: none;
  }
  
  .our-team img{
    width:264px;
    height:260px; 
  }
  
  .our-team h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2%;
    text-align: center;
    
  }
  
  .our-team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
    text-align: center;
  }
  .our-team-item {
    width: calc((100% - 72px) / 4);
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;

  }
  .our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5em;
    letter-spacing: 2%;
    color: #2e2f42;
    padding: 120px 0;
  }
  .our-portfolio-cardset{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    column-gap: 24px;
    row-gap: 48px;  
  }
  .title-op{
    text-align: center;
    margin-bottom: 72px;

  }
  
  .our-portfolio li {
    list-style: none;
  }
  
  .our-portfolio img{
    width:360px;
    height:300px; 
  }
  
  .our-portfolio h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2%;
  }
  
  .our-portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
  }
  .our-portfolio-item {
    width: calc((100% - 72px) / 4);
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;

  }

  .border {
    border: 1px;
    border-color: #e7e9fc;
    border-style: solid;
    border-top: none;
    height: 120px;
    padding: 32px 16px;
    margin-bottom: 8px;
  
  }
  
  .footer-sec {
    background-color: #2E2F42;
    color:#ffffff;
    height: 312px;
    padding: 100px 0;
   
  
  }
  .logo-2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3125em;
    letter-spacing: 3%;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
  }
  
  .web-title {
    color: #4d5ae5;
  }
  .studio-title {
    color: #f4f4fd;
  }
  .footer-sec p{
    font-weight:400;
    font-size:16px;
    line-height:1.5em;
    letter-spacing: 2%;
    max-width: 264px;
    color:#f4f4fd
    
  }
